{% extends "base.html" %} {% block content %}

<div class="main">
  <div class="title">
    <h3>Schulz-Yomut<br>Image Classifier</h3>
    <p>
      Eine kleine Web Applikation<br/>
	  <small>Quelle: <a href="https://github.com/imfing/keras-flask-deploy-webapp" target="_blank">https://github.com/imfing/keras-flask-deploy-webapp</a></small><img src="../static/link.png" style="height: 12px;width: 12px;margin-left: 4px;" >
    </p>
  </div>

  <div class="panel">
    <input id="file-upload" class="hidden" type="file" accept="image/x-png,image/gif,image/jpeg" />
    <label for="file-upload" id="file-drag" class="upload-box">
      <div id="upload-caption">Drop image here or click to select</div>
      <img id="image-preview" class="hidden" />
    </label>
  </div>
  <div style="margin-bottom: 20px">
    <input type="button" value="Submit" class="button" onclick="submitImage();" />
    <input type="button" value="Clear" class="button" onclick="clearImage();" />
  </div>

  <div id="pred-result" class="hidden"></div>

  <div id="image-box">
    <img id="image-display" />
    <svg id="loader" class="hidden" viewBox="0 0 32 32" width="32" height="32">
      <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
    </svg>
  </div>
</div>
<div style="text-align: center;">
	<img src="../static/qrcode.png" style="height: 200px;width: 200px;margin-left: 4px;" >
</div>
{% endblock %}
